body {
  background-color: #5f597f;
  margin: 0;
  padding: 0;
  font-family: "Fjalla One", sans-serif;
}

.toDevour {
  color: #5f597f;
}

.devourDiv {
  color: #5f597f;
  opacity: 0.6;
}

.devour {
  background: #f6ca67;
  color: #5f597f;
  border-radius: 13px;
  border-color: #5f597f !important;
}

.devour:hover {
  background: #f6ca67 !important;
  color: #5f597f;
}

.devour:active {
  background: #ee2d24 !important;
  color: #5f597f !important;
}

.addbtn {
  background: #f6ca67;
  color: #5f597f;
  border-radius: 13px;
  border-color: #5f597f !important;
  font-size: 1.7rem;
  width: 120px;
}

.addbtn:hover {
  font-size: 1.9rem;
  background: #f6ca67 !important;
  color: #5f597f;
}

#newburger {
  height: 56px !important;
  border-radius: 13px;
  color: #5f597f !important;
}

#customerName {
  color: #5f597f !important;
  border-radius: 13px !important;
  width: auto !important;
  display: inline-block !important;
}

.modal {
  border-radius: 13px;
}

#newburger::placeholder {
  color: #5f597f;
  opacity: 0.3;
}

#customerName::placeholder {
  color: #5f597f !important;
  opacity: 0.3 !important;
}

.addbtn:active {
  background: #ee2d24 !important;
  color: #5f597f !important;
}

.card {
  background-color: #f6ca67;
  border-radius: 1.25rem !important;
}

.card-header {
  color: #5f597f;
}

.fas {
  font-size: 20px;
}

.fa-times-circle:hover {
  color: #9ece37;
}

.fa-utensils:hover {
  color: #9ece37;
}

.legends {
  color: #9ece37;
}
